// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.outline-none {
    outline: 0 !important;
    &:active {
        outline: 0 !important;
    }
}

.media  .avatar {
    background-color: rgba(0,0,0,0);
    background: none !important;
    border-radius: 0;

    * {
        border-radius: 0;
    }
}
