.outline-none {
  outline: 0 !important;
}

.outline-none:active {
  outline: 0 !important;
}

.media .avatar {
  background-color: rgba(0, 0, 0, 0);
  background: none !important;
  border-radius: 0;
}

.media .avatar * {
  border-radius: 0;
}

